*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif; /* Standard font */
    line-height: 1.6;
}

.d_none {
    display: none !important;
}

.d_flex_wrap {
    display: flex;
    flex-wrap: wrap;
}
